@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1, h2, h3 ,h4 ,p{
	color: white;
	font-family: 'Open Sans' sans-serif;
	font-weight: 300;
}

body{
	position: relative;
}

#first{
	background: url(../img/first.jpg);
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height:100vh;
}

.shadow{
	background-color: rgba(40, 40, 40, 0.6);
	height: 100%;
	width: 100%;
}

#first .shadow.container-fluid{
	position: relative;
	display: table;
}

#first #crumb{
	position: absolute;
	left: 30px;
	right: 30px;
}

#crumb .breadcrumb {
	padding: 0;
	margin-bottom: 0;
	margin-top: 15px;
	border-radius: 0;
	background-color: transparent;
	height: 0;
	font-size: 0.9em;
}

#crumb .breadcrumb > li {
  	display: inline-block;
}

#crumb .breadcrumb > li + li:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-color: transparent transparent transparent white;
	color: white;
	padding: 0;
	top: 20px;
}

#crumb .breadcrumb a{
	margin-left: 10px;
	color: #777;
}

#crumb .breadcrumb .active a{
  color: white;
}

#crumb .breadcrumb a:hover{
  color: white;
  text-decoration: none;
}

#first .container{
	display: table-cell;
    vertical-align: middle;
    width: auto;
}

#first .container>.row{
	padding:0 20px;
}

#first .row #title{
	border-bottom: 1px solid white;
	padding:0 0 10px;
}

#first h1{
	font-size: 3em;
}

#title h3{
	font-size: 2em;
}

#first h1, #first h3{
	margin: 0;
}

#first #info{
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 0;
}

#info h3{
	font-size: 1.5em;
	line-height: 1.4;
}

.section-button{
	color: white;
	background-color: rgb(30, 180, 235);
	padding: 10px 30px;
	font-size: 1.4em;
	border: none;
	transition: background-color .2s linear;
}

.section-button:hover{
	background-color: rgb(40, 140, 220);
	transition: background-color .2s linear;
}

#carousel-example-generic div.carousel-inner div.item{
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    min-height: 780px;
}

#ind{
	position: absolute;
	width: 100%;
	height: auto;
	margin-top: 80px;
	z-index: 15;
}

#ind h3{
	font-size: 1.5em;
}

#ind #days{
	margin: 0;
}

#ind #days li{
	padding: 0;
	margin: 3px;
	width: 46px;
	color: rgb(154, 154, 154);
	font-size: 1.1em;
	cursor: pointer;
	text-align: center;
	background: transparent;
}

#ind .row{
	margin: 0; 
}

ol.carousel-indicators{
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: auto;
}

#carousel-example-generic .carousel-inner .item{
	display: block;
    position: absolute;
    top: 0;
    width: 100%;
}

#carousel-example-generic .carousel-inner .active{
	position: relative;
	left: 0;
}

#thumbnail0{
	background: url(../img/thumbnail-1.jpg);
	left: 0;
}

#thumbnail1{
	background: url(../img/thumbnail-2.jpg);
	left: 100%;
}

#thumbnail2{
	background: url(../img/thumbnail-3.jpg);
	left: 200%;
}

#thumbnail3{
	background: url(../img/thumbnail-4.jpg);
	left: 300%;
}
@media (max-width: 767px) {
	.activities{
		top: 173px;
		position: relative;
	}

	#ind{
		margin-top: 40px;
	}

	#carousel-example-generic div.carousel-inner div.item{
		height: 100vh;
	}

	#crumb .breadcrumb{
		text-align: center;
	}
}

.join{
	margin-top: 6px;
	margin-left: -44px;
	width: 50px;
	height: 1px;
	border-bottom: 1px solid rgb(154, 154, 154);
}

.join.last{
	border-bottom-style: dotted;
	margin-top: 23px;
	margin-left: -26px;
	width: 40px;
}

#carousel-example-generic #ind #days .checked{
	color: white;
}

#carousel-example-generic .checked{
	background-color: white;
	color: white;
}

#carousel-example-generic .checked .join{
	border-bottom-color: white;
}

#carousel-example-generic #c3{
	background: url(../img/ship.png)center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 46px;
	width: 46px;
	margin: 4px 3px;
	border-width: 0;
}

#carousel-example-generic ol li{
	vertical-align: middle;
	margin: 20px;
	height: 12px;
	width: 12px;
	background-color: rgb(154, 154, 154);
	border: none;
}

#carousel-example-generic .carousel-indicators .active{
	background-color: white;
}

#carousel-example-generic .carousel-inner{
	background-color: rgba(30, 30, 30, 0.7);
}

.activities{
	margin: 0;
}

.item .activities .row{
	background: rgba(50, 120, 185, 0.8);
}

.not-padding{
	padding: 0;
}

.day{
	background: rgba(0, 0, 100, 0.8);
	padding: 15px;
}

.day h2{
	margin: 0;
}

.activities h3{
	margin: 15px 0 30px 0; 
}

.activities .details{
	padding: 0 15px 0 5px;
}

.activities h4{
	margin: 0 0 5px 0;
	font-weight: 600px;
}

.activities p{
	font-size: 1.2em;
}

#button{
	position: absolute;
	width: 100%;
	bottom: 20px;
}

#section3{
	padding-top: 40px;
}

#section3 .row{
	padding: 0 10px;
}

#section3 h2{
	font-size: 1.9em;
	color: rgb(30, 160, 235);
	border-bottom: 2px solid rgb(30, 160, 235);
}

#columns{
	margin-bottom: 20px;
	height: auto;
}

@media (min-width: 768px) {
	div.bg-primary{
		height: 350px;
	}
}

div.bg-primary{
	margin-top: 20px;
	padding: 20px;
	font-size: 1.2em;
	background-color: rgb(30, 160, 235);
}

div.bg-primary h3{
	margin: 0;
}

div.bg-primary li{
	margin-top: 10px;
}

#section3 #find-cruise{
	margin: 20px 0;
}

#section3 #terms{
	margin-bottom: 20px;
}

#terms p{
	font-size: 1.4em;
}

#terms div{
	display: inline-block;
}

#terms a{
	text-decoration: none;
	color: rgb(100, 100, 100);
}


#terms a:focus{
	outline: none;
}

#share p{
	font-size: 1.6em;
	color: rgb(100, 100, 100);
}

#section3 #share{
	margin-top: 50px;
}

#share-buttons{
	margin-bottom: 50px;
}

#share-buttons a{
	margin: 0 3px;
}

#section3 #share-buttons a{
	height: 32px;
	width: 32px;
}

#section3 #share-buttons a:focus{
	outline: none;
}

#modal-terms p{
	color: black;
	font-size: 0.9em;
	font-family: arial;
	font-weight: lighter;
}

#modal-terms .modal-header{
	border: none;
}

#modal-terms .modal-header button span{
	font-size: 1.5em;
	color: black;
	font-weight: lighter;
}

#modal-terms button {
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
opacity: 1;
}


#modal-terms button:hover {
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}

#modal-terms button:focus{
	outline:none;
}

#modal-share{
	font-family: arial;
}

#modal-share .modal-content{
	background-color: rgb(210, 210, 210);
	border-width: 7px;
	border-color: rgb(210, 210, 210);
	width: 474px;
	margin: auto;
}

#modal-share .modal-header{
	padding: 0;
	
}

#modal-share .modal-header h4{
	font-family: arial;
	font-size: 1.4em;
	margin: 0;
	color: rgba(0,0,0, 0.6);
}

#modal-share .modal-header button{
	opacity: 1;
}

#modal-share .modal-header button span{
	font-size: 0.5em;
	color: rgb(0, 120, 150);
}

#modal-share .modal-header button span:hover{
	text-decoration: underline;
}

#modal-share .modal-body{
	background-color: white;
	padding: 30px;
}



#modal-share #icons{
	background-image: url(http://w.sharethis.com/images/emailShare/external-email-sprite.png);
	background-color: white;
	margin: bottom: 3px;
	width: 400px;
}

#modal-share #icons a{
	display: inline-block;
}

#modal-share #icons div{
	height: 100px;
	width: 100px;
	
}


